In [2]:
import pyreadstat

In [4]:
# Read the sas7bdat file
df, meta = pyreadstat.read_sas7bdat("Downloads/in_gats_public_use_27sep2017.sas7bdat")

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
meta

In [7]:
df.head()

,CASEID,FIID,Residence,stateid,regionid,GATSSTRATA,gatscluster,gatsweight,INTLANG,Selectee,...,H02B,H02C,H02D,H03,HH01A,HH01B,HH02,HH03,HH07,HH08
0,10001.0,920155,2.0,1.0,1.0,12.0,12.0,2929.253689,8.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
1,10002.0,920160,2.0,1.0,1.0,12.0,12.0,4891.917795,6.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,3.0
2,10003.0,920145,2.0,1.0,1.0,12.0,12.0,3165.103141,8.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3,10004.0,920150,2.0,1.0,1.0,12.0,12.0,4691.212815,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,NaN
4,10005.0,920155,2.0,1.0,1.0,12.0,12.0,4835.334269,8.0,2.0,...,1.0,7.0,1.0,1.0,7.0,1.0,7.0,1.0,NaN,NaN

In [9]:
df.head(20)

,CASEID,FIID,Residence,stateid,regionid,GATSSTRATA,gatscluster,gatsweight,INTLANG,Selectee,...,H02B,H02C,H02D,H03,HH01A,HH01B,HH02,HH03,HH07,HH08
0,10001.0,920155,2.0,1.0,1.0,12.0,12.0,2929.253689,8.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
1,10002.0,920160,2.0,1.0,1.0,12.0,12.0,4891.917795,6.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,3.0
2,10003.0,920145,2.0,1.0,1.0,12.0,12.0,3165.103141,8.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3,10004.0,920150,2.0,1.0,1.0,12.0,12.0,4691.212815,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,NaN
4,10005.0,920155,2.0,1.0,1.0,12.0,12.0,4835.334269,8.0,2.0,...,1.0,7.0,1.0,1.0,7.0,1.0,7.0,1.0,NaN,NaN
5,10006.0,920145,2.0,1.0,1.0,12.0,12.0,4393.880534,6.0,3.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
6,10007.0,920160,2.0,1.0,1.0,12.0,12.0,2345.606408,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
7,10008.0,920155,2.0,1.0,1.0,12.0,12.0,3165.103141,4.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
8,10009.0,920150,2.0,1.0,1.0,12.0,12.0,5415.427052,6.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,NaN
9,10010.0,920145,2.0,1.0,1.0,12.0,12.0,1464.626845,8.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
10,10011.0,920155,2.0,1.0,1.0,12.0,12.0,4747.654711,4.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN
11,10012.0,920160,2.0,1.0,1.0,12.0,12.0,6094.840306,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
12,10013.0,920145,2.0,1.0,1.0,12.0,12.0,4747.654711,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
13,10014.0,920150,2.0,1.0,1.0,12.0,12.0,5483.611009,6.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,3.0
14,10015.0,920155,2.0,1.0,1.0,12.0,12.0,1464.626845,4.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
15,10016.0,920145,2.0,1.0,1.0,12.0,12.0,3223.556179,8.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
16,10017.0,920160,2.0,1.0,1.0,12.0,12.0,8123.140579,6.0,3.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
17,10018.0,920155,2.0,1.0,1.0,12.0,12.0,1611.778090,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
18,10020.0,920145,2.0,1.0,1.0,12.0,12.0,1464.626845,6.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
19,10021.0,920155,2.0,1.0,1.0,12.0,12.0,4747.654711,4.0,3.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN

In [11]:
df.columns

Index(['CASEID', 'FIID', 'Residence', 'stateid', 'regionid', 'GATSSTRATA',
       'gatscluster', 'gatsweight', 'INTLANG', 'Selectee',
       ...
       'H02B', 'H02C', 'H02D', 'H03', 'HH01A', 'HH01B', 'HH02', 'HH03', 'HH07',
       'HH08'],
      dtype='object', length=464)

In [12]:
len(df.columns)

464

# Columns :

In [15]:
for attr in df.columns:
    print(attr,sep=' ',end=' | ')

CASEID | FIID | Residence | stateid | regionid | GATSSTRATA | gatscluster | gatsweight | INTLANG | Selectee | AGE | HH1 | HH2 | HH3 | HH4B | HH4C | HH4CYEAR | HH4D | HH4E | HH4F | HH4B01 | HH4B02 | HH4B03 | HH4B04 | HH4B05 | HH4B06 | HH4B07 | HH4B08 | HH4B09 | HH4B10 | HH4B11 | HH4B12 | HH4B13 | HH4B14 | HH4B15 | HH4B16 | HH4B17 | HH4B18 | HH4B19 | HH4B20 | HH4C01 | HH4C02 | HH4C03 | HH4C04 | HH4C05 | HH4C06 | HH4C07 | HH4C08 | HH4C09 | HH4C10 | HH4C11 | HH4C12 | HH4C13 | HH4C14 | HH4C15 | HH4C16 | HH4C17 | HH4C18 | HH4C19 | HH4C20 | HH4CYEAR01 | HH4CYEAR02 | HH4CYEAR03 | HH4CYEAR04 | HH4CYEAR05 | HH4CYEAR06 | HH4CYEAR07 | HH4CYEAR08 | HH4CYEAR09 | HH4CYEAR10 | HH4CYEAR11 | HH4CYEAR12 | HH4CYEAR13 | HH4CYEAR14 | HH4CYEAR15 | HH4CYEAR16 | HH4CYEAR17 | HH4CYEAR18 | HH4CYEAR19 | HH4CYEAR20 | HH4D01 | HH4D02 | HH4D03 | HH4D04 | HH4D05 | HH4D06 | HH4D07 | HH4D08 | HH4D09 | HH4D10 | HH4D11 | HH4D12 | HH4D13 | HH4D14 | HH4D15 | HH4D16 | HH4D17 | HH4D18 | HH4D19 | HH4D20 | HH4E01 | HH4E02 | HH4E03 | HH4E04 | HH4E05 | HH4E06 | HH4E07 | HH4E08 | HH4E09 | HH4E10 | HH4E11 | HH4E12 | HH4E13 | HH4E14 | HH4E15 | HH4E16 | HH4E17 | HH4E18 | HH4E19 | HH4E20 | HH4F01 | HH4F02 | HH4F03 | HH4F04 | HH4F05 | HH4F06 | HH4F07 | HH4F08 | HH4F09 | HH4F10 | HH4F11 | HH4F12 | HH4F13 | HH4F14 | HH4F15 | HH4F16 | HH4F17 | HH4F18 | HH4F19 | HH4F20 | A01 | A02A | A02B | A03 | A03A | A04 | A05 | A06A | A06N | A06M | A06G | A06J | A06F | A06E | A06K | A06L | A06I | A06H | A06B | A06C | A06D | A09 | A10 | A10A | A11 | AA12 | B01 | B02 | B03 | B04 | B05 | B06A | B06A1 | B06B | B06B1 | B06C | B06C1 | B06E | B06E1 | B06F | B06F1 | B06G | B06G1 | B06G2 | B07 | B08 | B09 | B10A | B10B | B10C | B10E | B10F | B10G | B10G1 | B11 | B12 | B13A | B13BYEARS | B13BMONTHS | B13BWEEKS | B13BDAYS | B14 | B15 | B16 | B17 | B18A | B18B | B18C | B18D | B18D1 | B18E | B18F | B18H | B18G | B18G1 | WP0 | WP5 | WP5AHOURS | WP5AMINUTES | WP6 | WP8 | WP8A | WP9 | EC1 | EC2 | EC3 | EC4 | EC4A | C01 | C02 | C03 | C04 | C05 | C06A | C06A1 | C06B | C06B1 | C06C | C06C1 | C06D | C06D1 | C06E | C06E1 | C06F | C06F1 | C06G | C06G1 | C06G2 | C07 | C08 | C09 | C10A | C10B | C10C | C10D | C10E | C10F | C10G | C10G1 | C11 | C12 | C13A | C13BYEARS | C13BMONTHS | C13BWEEKS | C13BDAYS | C14 | C15 | C16 | C17 | C18A | C18B | C18C | C18D | C18D1 | C18H | C18G | C18G1 | CC1 | CC2 | CC3 | CC4 | CC5 | CC6 | D01 | D02A | D02BMONTHS | D02BWEEKS | D02BDAYS | D03A | D03B | D03C | D03D | D03D1 | D03E | D03F | D03H | D03G | D03G1 | D04 | D05 | D06 | D07 | D08 | D09 | D10A | D10BMONTHS | D10BWEEKS | D10BDAYS | D11A | D11B | D11C | D11D | D11D1 | D11H | D11G | D11G1 | D12 | D13 | D14 | D15 | D16 | E01 | E02 | E03 | E04 | E05 | E06 | E07 | E08 | E09 | E10 | E23 | E24 | E11 | E12 | E13 | E14 | EE14 | E15 | E16 | E25 | E26 | EE25 | EE26 | E17 | EE17 | F01A | F01C | F01BCIG | F01BPACK | F01BOTHER | F01DPACK | F01DPACKA | F01DOTHER | F02 | F04 | F04A | FA01A | FA01C | FA01BCIG | FA01BPACK | FA01BOTHER | FA01DPACK | FA01DPACKA | FA01DOTHER | FA02 | FA04 | FA04A | FB01A | FB01B1 | FB01B2 | FB01C1 | FB01C2 | FB02 | FB04 | FB04A | G01A | G01B | G01C | G01D | G01F | G01G | G01H | G01I | G01E | G01E1 | GG1 | G201A | G201B | G201C | G201D | G201F | G201G | G201H | G201I | G201E | G201E1 | GG2 | G02 | G03 | G02B | G03B | G02A | G03A | GG3 | GG4 | G04A | G04B | G04C | G04D | G04E | G04F | G04G | G04H | G04I | G04J | G04K | G04K1 | G204A | G204B | G204C | G204D | G204E | G204F | G204G | G204H | G204I | G204J | G204K | G204K1 | G06A | G06B | G06C | G06D | G06E | G06F | G06G | G206A | G206B | G206C | G206D | G206E | G206F | G206G | G306A | G306B | G306C | G306D | G306E | G306F | G306G | H01 | H02A | H02B | H02C | H02D | H03 | HH01A | HH01B | HH02 | HH03 | HH07 | HH08 |

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74037 entries, 0 to 74036
Columns: 464 entries, CASEID to HH08
dtypes: float64(443), object(21)
memory usage: 262.1+ MB

In [18]:
df.describe()

,CASEID,Residence,stateid,regionid,GATSSTRATA,gatscluster,gatsweight,INTLANG,Selectee,AGE,...,H02B,H02C,H02D,H03,HH01A,HH01B,HH02,HH03,HH07,HH08
count,74037.000000,74037.000000,74037.000000,74037.000000,74037.000000,74037.000000,74037.000000,74037.000000,74037.000000,74037.000000,...,74026.000000,74026.000000,74026.000000,74026.000000,74026.000000,74025.000000,74025.000000,74025.000000,9496.000000,15232.000000
mean,172168.174237,1.642233,16.133285,3.349123,162.975080,1254.954874,12594.888970,8.525886,1.337129,39.462845,...,1.670589,1.201537,1.213857,1.128833,1.190555,1.281418,1.397123,1.201108,2.681866,2.402902
std,103886.193950,0.479346,9.534984,1.811389,95.323047,733.202615,16207.377619,5.239395,0.642928,15.438089,...,1.719327,0.996246,1.017107,0.790524,0.974404,1.146640,1.402582,0.973114,1.433222,1.456488
min,10001.000000,1.000000,1.000000,1.000000,11.000000,1.000000,33.286199,1.000000,1.000000,15.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,81501.000000,1.000000,8.000000,2.000000,82.000000,625.000000,1679.592406,6.000000,1.000000,27.498630,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,171211.000000,2.000000,15.000000,3.000000,152.000000,1251.000000,8238.676768,6.000000,1.000000,36.652055,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000
75%,270886.000000,2.000000,25.000000,5.000000,251.000000,1874.000000,16860.588552,13.000000,2.000000,49.838356,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.000000
max,362211.000000,2.000000,32.000000,6.000000,322.000000,2547.000000,350745.773804,19.000000,9.000000,110.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [19]:
df.info

<bound method DataFrame.info of          CASEID    FIID  Residence  stateid  regionid  GATSSTRATA  \
0       10001.0  920155        2.0      1.0       1.0        12.0
1       10002.0  920160        2.0      1.0       1.0        12.0
2       10003.0  920145        2.0      1.0       1.0        12.0
3       10004.0  920150        2.0      1.0       1.0        12.0
4       10005.0  920155        2.0      1.0       1.0        12.0
...         ...     ...        ...      ...       ...         ...
74032  362207.0  520145        1.0     28.0       6.0       281.0
74033  362208.0  520150        1.0     28.0       6.0       281.0
74034  362209.0  520155        1.0     28.0       6.0       281.0
74035  362210.0  520160        1.0     28.0       6.0       281.0
74036  362211.0  520145        1.0     28.0       6.0       281.0

       gatscluster    gatsweight  INTLANG  Selectee  ...  H02B  H02C  H02D  \
0             12.0   2929.253689      8.0       1.0  ...   1.0   1.0   1.0
1             12.0   4891.917795      6.0       2.0  ...   1.0   1.0   1.0
2             12.0   3165.103141      8.0       1.0  ...   1.0   1.0   1.0
3             12.0   4691.212815      6.0       1.0  ...   1.0   1.0   1.0
4             12.0   4835.334269      8.0       2.0  ...   1.0   7.0   1.0
...            ...           ...      ...       ...  ...   ...   ...   ...
74032       2181.0  10184.365463     19.0       1.0  ...   1.0   1.0   1.0
74033       2181.0  19759.757723     19.0       1.0  ...   1.0   1.0   1.0
74034       2181.0  20368.730926     19.0       2.0  ...   1.0   1.0   1.0
74035       2181.0  19759.757723     19.0       1.0  ...   1.0   1.0   1.0
74036       2181.0  12721.852771     19.0       1.0  ...   1.0   1.0   1.0

       H03  HH01A  HH01B  HH02  HH03  HH07  HH08
0      1.0    1.0    1.0   1.0   1.0   NaN   NaN
1      1.0    1.0    1.0   1.0   1.0   NaN   3.0
2      1.0    1.0    1.0   1.0   1.0   NaN   NaN
3      1.0    1.0    1.0   1.0   1.0   3.0   NaN
4      1.0    7.0    1.0   7.0   1.0   NaN   NaN
...    ...    ...    ...   ...   ...   ...   ...
74032  1.0    1.0    1.0   1.0   1.0   NaN   NaN
74033  1.0    1.0    1.0   2.0   1.0   NaN   NaN
74034  1.0    1.0    1.0   1.0   1.0   NaN   NaN
74035  1.0    1.0    1.0   1.0   1.0   NaN   NaN
74036  1.0    1.0    2.0   1.0   1.0   NaN   NaN

[74037 rows x 464 columns]>